body{
    text-align: center;
    background-color: #79D7D7;
    font-family: 'Coiny';
}
.top{
    font-size: 3em;
    height: 300px;
    background-color: 2AAAAA;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#resultButton{
    background-color: #017979;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#result{
    margin-top: 0px;
    font-size: 2.75em;
    background-color: #4ABFBF;
    margin-left: 1em;
    margin-right: 1em;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}